
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="nav"></div>
<h2>Lista de personas en el sistema</h2>
<div id="personas" class="container-fluid">
    <section id="seccion-grilla">
        <table id="table_personas" class="table">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Nombre</td>
                    <td>Apellido</td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </section>
    <section>
        <div class="row content">
            <button id="btn-agregar-persona" class="btn btn-primary col-md-12" data-toggle="modal" data-target="#modal-registrar" data-remote="false">
                Registrar Cliente
            </button>
        </div>
    </section>
</div>
@Html.Partial("~/Views/Persona/Actualizar.cshtml")
@Html.Partial("~/Views/Persona/Registrar.cshtml")
@Html.Partial("~/Views/Persona/Eliminar.cshtml")
@Scripts.Render("~/Scripts/Persona/PersonaModule.js")
<script>
    $(document).ready(function () {

        var personaModule = new PersonaModule(
            {
                urlListarPersona: '@Url.Action("ListarPersona", "Persona")',
                urlRegistrar: '@Url.Action("RegistrarPersona", "Persona")',
                urlActualizar: '@Url.Action("ActualizarPersona", "Persona")',
                urlEliminar: '@Url.Action("EliminarPersona", "Persona")'
            }
        );

        personaModule.initialize();
    });

</script>